<div class="container">
  <div class="container">
    <h1 class="mt-4 mb-4">Offensive User Ranking</h1>
    
    <div class="mb-3">
      <label for="startDate" class="form-label">Start Date</label>
      <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate" name="startDate">
    </div>
    
    <div class="mb-3">
      <label for="endDate" class="form-label">End Date</label>
      <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate" name="endDate">
    </div>
    
    <button class="btn btn-primary" (click)="filterRanking()">Filter</button>
    
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Number of offensive content</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ user[0] }}</td>
          <td>{{ user[1] }}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
    <h1 class="mt-4 mb-4">Offensive word list</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Word</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offensiveWord of offensiveWords">
          <td>{{ offensiveWord.id }}</td>
          <td>{{ offensiveWord.word }}</td>
          <td><button class="btn btn-danger" (click)="removeWord(offensiveWord?.word || '')">
            <i class="fas fa-trash-alt"></i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="mt-4">
      <h2>Add offensive word</h2>
      <form (ngSubmit)="addWord()">
        <div class="mb-3">
          <label for="word" class="form-label">Word</label>
          <input type="text" class="form-control" id="word" [(ngModel)]="newWord.word" name="word" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
  </div>
  