<div class="container">
    <h1>Moderate Articles</h1>
  
    <div class="card">
      <div class="card-header">
        Articles
      </div>
      <div class="card-body">
        <div class="list-group">
          <div *ngFor="let article of articles">
          <a [routerLink]="['/articles', article.id]" class="list-group-item list-group-item-action">
            {{ article.title }} - Contain the words:
            <span *ngFor="let wordObj of article.offensiveContent">{{ wordObj.word }}</span>
          </a>
          <button class="btn btn-success float-right mr-2" (click)="approve(article)">Approve</button>
        </div>
        </div>
      </div>
    </div>

    <h1>Moderate Comments</h1>
  
    <div class="card">
      <div class="card-header">
        Comments
      </div>
      <div class="card-body">
        <div class="list-group">
          <a *ngFor="let comment of comments" class="list-group-item list-group-item-action">
            {{ comment.body }} - Contain the words: 
            <span *ngFor="let wordObj of comment.offensiveContent">{{ wordObj.word }}</span>
            <button class="btn btn-success float-right mr-2" (click)="approve(comment)">Approve</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  
